xml/dtds/commands.dtd

<!-- elements in hypnoscommands -->
<!ELEMENT hypnoscommands (bcommand+ ucommand*)>

<!ELEMENT bcommand EMPTY>
<!ATTLIST bcommand
    name CDATA #REQUIRED
    level CDATA #REQUIRED
    disabled (true|false) "false"
>

<!ELEMENT ucommand EMPTY>
<!ATTLIST ucommand
    name CDATA #REQUIRED
    level CDATA #REQUIRED
    callback CDATA #REQUIRED
>
