xml/dtds/containers.dtd

<!-- elements in containers -->
<!ELEMENT containers (gump+)>
<!ELEMENT gump (id)+>

<!--
     The gump has as attributes the gump's id and the minimum and maximum
     coordinates.
     All these attributes are required
-->
<!ATTLIST gump
    id CDATA #REQUIRED
    x1 CDATA #REQUIRED
    y1 CDATA #REQUIRED
    x2 CDATA #REQUIRED
    y2 CDATA #REQUIRED
>

<!-- ID's are only IDs as integers -->
<!ELEMENT id (#PCDATA)>
